
:root {
    --color-gray: #a0a0a0;
    --color-primary: #000000;
    --color-primary-text: #f5f5f7;
    --color-secondary: #006edb;
    --font-family: "Helvetica Neue", sans-serif;
    --font-size: 14pt;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    align-items: center;
    background: var(--color-primary);
    color: var(--color-primary-text);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    line-height: 1.5rem;
    word-spacing: 0.25rem;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

a,
button {
    align-items: center;
    background: var(--color-primary-text);
    border: none;
    border-radius: 980px;
    color: var(--color-primary);
    display: flex;
    font-size: 17px;
    font-weight: 400;
    height: 20px;
    justify-content: center;
    margin: 0.5rem;
    padding: 21px 11px;
    position: relative;
    width: fit-content;
}

a:hover,
button:hover {
    background: #fff;
}

div,
main {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h1 {
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    font-size: 32pt;
    margin: 1rem;
    text-align: center;
}

h1 > img {
    margin-right: 1rem;
}

h2 {
    color: var(--color-primary-text);
    font-size: 24pt;
    margin: 1rem;
    text-align: center;
}

p {
    font: 24pt;
}
